dist: xenial
language: python

python:
- '3.7'

services:
  - docker

install:
- pip install -r requirements.txt
- pip install -r requirements-test.txt
- pip install mkdocs mkdocs-material

cache: pip

script:
- flake8 --max-line-length 120 local_data_api
- mypy --ignore-missing-imports local_data_api
- nosetests -v --with-coverage --cover-package=local_data_api --cover-erase tests
- codecov
- cp README.md docs/index.md && mkdocs build --verbose --clean --strict

deploy:
  - provider: script
    script: bash scripts/push-image.sh
    on:
      tags: true
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: site
    on:
      branch: master
