dist: xenial
language: python
python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

script:
  - flake8 --max-line-length 119 local_data_api
  - mypy --ignore-missing-imports local_data_api
  - nosetests -v tests/local_data_api
