dist: xenial
language: python

python:
- '3.7'

services:
  - docker

install:
- pip install ".[all]"

cache: pip

jobs:
  include:
    - stage: unit test
      script: ./scripts/test.sh
    - stage: lint
      script: ./scripts/lint.sh
    - stage: integration test
      script: ./scripts/integration-test.sh
script: 
- cp README.md docs/index.md && mkdocs build --verbose --clean --strict
after_success:
- codecov
deploy:
  - provider: script
    script: bash scripts/push-image.sh
    on:
      tags: true
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: site
    on:
      branch: master
